@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

.gradient-bg {
  @apply bg-gradient-to-b from-slate-950 via-slate-900 to-slate-950;
}

.font-libre {
  font-family: 'Libre Baskerville', serif;
}

.hero-heading {
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: normal;
  color: #ffffff;
}

.steps-bar-bg {
  background-color: #55c3de;
}
